<h1 class="page-header">Data Element Instances</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Data Element Name</th>
      <th>Created by</th>
      <th>Correlation properties</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataElementsWithLinks of (page | async)?.results; trackBy:trackByDataElementInstance">
      <td><a [routerLink]="['/instances/dataElements', dataElementsWithLinks.instance.id]">{{dataElementsWithLinks
        .instance.id}}</a></td>
      <td><a
        [routerLink]="['/models/dataElements', dataElementsWithLinks.links | resolveResourceId : 'dataElement']">
        {{dataElementsWithLinks.instance.dataElementName}}</a></td>
      <td>{{dataElementsWithLinks.instance.createdBy}}</td>
      <td>
        <ul>
          <li *ngFor="let correlation of dataElementsWithLinks.instance.correlationProperties">
            {{ correlation.key }} &#8614; {{correlation.value}}
          </li>
        </ul>
      </td>
      <td>{{dataElementsWithLinks.instance.status}}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>

<a *ngIf="!dataObjectMode" class="btn btn-info" routerLink="/instances" role="button">Back</a>
