<h1 class="page-header">Models Overview</h1>

<div class="sub-header headline-with-image">
  <img class="headline-image"
       src="../assets/trade-ddg-icon.png" alt="Data Dependency Graphs">
  <h2 class="headline-text">Data Dependency Graphs</h2>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>Target Namespace</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ddgWithLinks of dataDependencyGraphArray">
      <td>{{ddgWithLinks.dataDependencyGraph.name}}</td>
      <td>{{ddgWithLinks.dataDependencyGraph.entity}}</td>
      <td>{{ddgWithLinks.dataDependencyGraph.targetNamespace}}</td>
    </tr>
    </tbody>
  </table>
</div>
<a class="btn btn-info" routerLink="/models/ddgs" role="button">List of data dependency graphs</a>

<div class="sub-header headline-with-image">
  <img class="headline-image"
       src="../assets/trade-data-object-icon.png" alt="Data Objects">
  <h2 class="headline-text">Data Objects</h2>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>Data Model Name</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataObjectsWithLinks of dataObjectArray">
      <td>{{dataObjectsWithLinks.dataObject.name}}</td>
      <td>{{dataObjectsWithLinks.dataObject.entity}}</td>
      <td>{{dataObjectsWithLinks.dataObject.dataModelName}}</td>
      <td>{{dataObjectsWithLinks.dataObject.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
<a class="btn btn-info" routerLink="/models/dataObjects" role="button">List of data objects</a>

<div class="sub-header headline-with-image">
  <img class="headline-image"
       src="../assets/trade-data-element-icon.png" alt="Data Objects">
  <h2 class="headline-text">Data Elements</h2>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>Data Object Name</th>
      <th>Type</th>
      <th>Content Type</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataElementsWithLinks of dataElementArray">
      <td>{{dataElementsWithLinks.dataElement.name}}</td>
      <td>{{dataElementsWithLinks.dataElement.entity}}</td>
      <td>{{dataElementsWithLinks.dataElement.dataObjectName}}</td>
      <td>{{dataElementsWithLinks.dataElement.type}}</td>
      <td>{{dataElementsWithLinks.dataElement.contentType}}</td>
      <td>{{dataElementsWithLinks.dataElement.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
<a class="btn btn-info" routerLink="/models/dataElements" role="button">List of data elements</a>
