<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">TraDE UI</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
      <a class="nav-item nav-link" routerLink="/help" routerLinkActive="active">Help</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/trade4chor" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </div>
  </div>
</nav>
