<h1 class="page-header">Data Dependency Graphs</h1>

<div [formGroup]="filterForm">
  <div class="search-bar">
    <select formControlName="queryParameter" [value]="'name'">
      <option [value]="'name'">name</option>
      <option [value]="'entity'">entity</option>
      <option [value]="'targetNamespace'">targetNamespace</option>
    </select>
    <input formControlName="search" placeholder="Search by selected parameter">
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>Target Namespace</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let ddgWithLinks of (page | async)?.results; trackBy:trackByDDG">
      <td><a [routerLink]="['/models/ddgs', ddgWithLinks.dataDependencyGraph.id]">{{ddgWithLinks
        .dataDependencyGraph.name}}</a></td>
      <td>{{ddgWithLinks.dataDependencyGraph.entity}}</td>
      <td>{{ddgWithLinks.dataDependencyGraph.targetNamespace}}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>

<div class="btn-group" role="group" aria-label="Create or cancel">
  <a class="btn btn-info" routerLink="/models" role="button">Back</a>
  <a class="btn btn-primary" routerLink="/models/ddgs?create" role="button">Create</a>
</div>
