<h1 class="page-header">Data Objects</h1>

<div [formGroup]="filterForm">
  <div class="search-bar">
    <select formControlName="queryParameter" [value]="'name'">
      <option [value]="'name'">name</option>
      <option [value]="'entity'">entity</option>
      <option [value]="'status'">status</option>
    </select>
    <input formControlName="search" placeholder="Search by selected parameter">
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>Data Model Name</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let objectsWithLinks of (page | async)?.results; trackBy:trackByDataObject">
      <td><a [routerLink]="['/models/dataObjects', objectsWithLinks.dataObject.id]">{{objectsWithLinks
        .dataObject.name}}</a></td>
      <td>{{objectsWithLinks.dataObject.entity}}</td>
      <td><a
        [routerLink]="['/models/dataModels', objectsWithLinks.links | resolveResourceId : 'dataModel']">{{objectsWithLinks.dataObject
        .dataModelName}}</a></td>
      <td>{{objectsWithLinks.dataObject.status}}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>

<a class="btn btn-info" routerLink="/models" role="button">Back</a>
