<h1 class="page-header">Dashboard</h1>

<section class="row text-center placeholders">
  <div class="col-6 col-sm-4 placeholder">
    <a routerLink="/models/dataDependencyGraphs"><img src="../assets/trade-ddg.png" class="img-responsive"
                                                      alt="Data Dependency Graphs"></a>
    <a routerLink="/models/ddgs"><h4>Data Dependency Graphs</h4></a>
    <span class="text-muted">Get an overview of deployed data dependency graphs & models.</span>
  </div>
  <div class="col-6 col-sm-3 placeholder">
    <a routerLink="/data/dataValues"><img src="../assets/trade-data-value.png" class="img-responsive"
                                          alt="Data Values"></a>
    <a routerLink="/data/dataValues"><h4>Data Values</h4></a>
    <span class="text-muted">Get an overview of uploaded data values.</span>
  </div>
  <div class="col-6 col-sm-3 placeholder">
    <a routerLink="/transformations"><img src="../assets/trade-data-transformation.png" class="img-responsive"
                                          alt="Data Transformations"></a>
    <a routerLink="/transformations"><h4>Data Transformations</h4></a>
    <span class="text-muted">Get an overview of registered data transformation bundles.</span>
  </div>
</section>
