<h1 class="page-header">Data Overview</h1>

<h2 class="sub-header">Latest data values</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Type</th>
      <th>Content Type</th>
      <th>Status</th>
      <th>Last Modified</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataValueWithLinks of dataValueArray">
      <td>{{dataValueWithLinks.dataValue.name}}</td>
      <td>{{dataValueWithLinks.dataValue.createdBy}}</td>
      <td>{{dataValueWithLinks.dataValue.type}}</td>
      <td>{{dataValueWithLinks.dataValue.contentType}}</td>
      <td>{{dataValueWithLinks.dataValue.status}}</td>
      <td>{{dataValueWithLinks.dataValue.lastModified | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
    </tr>
    </tbody>
  </table>
</div>

<a class="btn btn-info" routerLink="/data/dataValues" role="button">List of data values</a>
